h1{
    background-color: aqua;
    margin: 10px ;

}
body {
    background-color: rgb(255, 245, 191);
    text-align:justify;
    text-decoration:wavy;
    font-style: italic;
   
    
 }
